body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  box-sizing: border-box;
  margin: 0 auto;
  width: 750px;
  padding-bottom: 200px;
}
.boxes {
  box-sizing: border-box;
  width: 750px;
  margin: 0 auto;
  text-align: center;
}
h1 {
  box-sizing: border-box;
  font-size: 90px;
  color: black;
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
  margin-bottom: 50px;
}
.box {
  box-sizing: border-box;
  display: inline-block;
  height: 150px;
  width: 150px;
  background-color: #0F7173;
  text-align: center;
  margin: 5px;
  line-height: 150px;
  vertical-align: top;
}

.hidden {
  box-sizing: border-box;
  display: none;
  font-size: 40px;
  color: #000000;
  height: 150px;
  width: 150px;
  background-color: #D8A47F;
  text-align: center;
  line-height: 150px;
  border: 1px solid black;
  margin: 5px;
  font-family: 'Share Tech Mono', monospace;
}

.hiddenO {
  box-sizing: border-box;
  display: none;
  font-size: 40px;
  color: #000000;
  height: 150px;
  width: 150px;
  background-color: #DF3B57;
  text-align: center;
  line-height: 150px;
  border: 1px solid black;
  margin: 5px;
  font-family: 'Share Tech Mono', monospace;
}

.counters {
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.countertitle{
  display: inline-block;
  background-color: #EE4B6A;
  height: 80px;
  width: 295px;
  vertical-align: top;
  line-height: 80px;
  font-family: 'Share Tech Mono', monospace;
  font-size: 30px;
  padding: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  color: white;
}

.Wins {
  display: inline-block;
  height: 100px;
  width: 100px;
  background-color: #EF8354;
  text-align: center;
  line-height: 100px;
  font-family: 'Share Tech Mono', monospace;
  font-size: 30px;
  padding: 10px;
  vertical-align: top;
}

.box:hover {
  cursor: pointer;
  background-color: #DBEBC0;
}


.Player{
  position: fixed;
  height: 200px;
  width: 480px;
  background-color: yellow;
  margin-left: 135px;
  line-height: 100px;
  text-align: center;
  top: 270px;
  font-family: 'Share Tech Mono', monospace;
  font-size: 30px;
}

.chooseplayer{
  position: absolute;
  height: 80px;
  width: 80px;
  left: 350px;
  color: white;
  background-color: black;
  text-align: top;
  top: 90px;
  line-height:80px
}

.x {
    left: 130px;
}

.o {
    left: 250px;
}


.chooseplayer:hover{
  cursor: pointer;
  background-color: #DBEBC0;
  color: black;
}

.hide {
  display:none;
}

.Player:hover{
  background-color: turquoise;
}


.Win{
  position: fixed;
  height: 200px;
  width: 480px;
  background-image: url("mylittlepony.gif");
  margin-left: 135px;
  line-height: 100px;
  text-align: center;
  top: 270px;
  font-family: 'Share Tech Mono', monospace;
  font-size: 50px;
  display: none;
  color: white;
  background-size: cover;
  text-shadow: 2px 2px 1px rgba(0,0,0,0.3), 0 0px 5px #fff, 0 0 10px yellow, 0 0 50px yellow;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.3), 0 0px 5px #fff, 0 0 10px yellow, 0 0 50px yellow;
}

/*.Draw{
  position: fixed;
  height: 350px;
  width: 950px;
  background-color: pink;
  margin-left: 25px;
  line-height: 350px;
  text-align: center;
  top: 270px;
  font-family: 'Share Tech Mono', monospace;
  font-size: 50px;
  display: none;
}*/

.playagain {
  width: 250px;
  left: 115px;
  font-size: 30px;
}

.playagain:hover{
  background-color: white;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.3), 0 0px 5px #fff, 0 0 10px yellow, 0 0 50px yellow;
}
