body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  box-sizing: border-box;
  margin: 0 auto;
  width: 1200px;
  padding-bottom: 200px;
}
.boxes {
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}
h1 {
  box-sizing: border-box;
  padding: 10px 0;
  font-size: 120px;
  color: rgb(135, 26, 222);
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
}
.box {
  box-sizing: border-box;
  display: inline-block;
  height: 300px;
  width: 300px;
  background-color: #00aeef;
  text-align: center;
  margin: 10px;
  line-height: 300px;
  vertical-align: top;
}

/*.hiddenbox {
  display: inline-block;
  height: 200px;
  width: 200px;
  background-color: rgb(147, 169, 180);
  text-align: center;
  margin: 10px;
}*/

.hidden {
  box-sizing: border-box;
  display: none;
  font-size: 100px;
  color: #000000;
  height: 300px;
  width: 300px;
  background-color: rgb(156, 74, 255);
  text-align: center;
  line-height: 300px;
  border: 1px solid black;
  margin: 10px;
  font-family: 'Share Tech Mono', monospace;
}

.hiddenO {
  box-sizing: border-box;
  display: none;
  font-size: 100px;
  color: #000000;
  height: 300px;
  width: 300px;
  background-color: rgb(255, 94, 220);
  text-align: center;
  line-height: 300px;
  border: 1px solid black;
  margin: 10px;
  font-family: 'Share Tech Mono', monospace;
}
